extends layout

block content
  .row 
    .col-xs-offset-4.col-xs-4 
      h1= title
      p Welcome to #{title}
  .row
    .input-group.col-xs-offset-4.col-xs-4
      input#logic-input.form-control
      button#truthify-button.btn.btn-default Truthify
  .row
    .col-xs-offset-2.col-xs-8
      table#truth-table.table.table-bordered
block scripts
  script(src="/javascripts/truthifier.js")
